#footer {
  min-width: 320px;
  width: 100%;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  margin: 0;
  padding: 0;
  position: relative;
  .logos {
    flex-direction: column;
    margin-bottom: var(--space);
    align-items: center;
    margin: 0;
    padding: 0;
    .logo-estudio {
      margin-bottom: var(--space);
      svg {
        width: 115px;
        height: 62px;
      }
    }
    .logo-mbcv {
      margin-bottom: var(--space);
      picture {
        width: 160px;
        height: 62px;
        img {
          width: 160px;
          height: 62px;
        }
      }
    }
  }
  .reverse {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    .copyright {
      font-size: 12px;
      font-family: Roboto;
      font-weight: bold;
      color: var(--gray-3);
      margin: 0;
      padding: 0;
      bottom: 0;
      margin-bottom: 15px;
    }
    .redes-sociais {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: var(--space);
      .line-1 {
        flex-direction: row;
        margin-bottom: 25px;
        svg {
          width: 56px;
          height: 56px;
          fill: var(--white);
        }
        svg + svg {
          margin-left: 15px;
        }
      }
      .line-2 {
        flex-direction: row;
        svg {
          width: 56px;
          height: 56px;
          fill: var(--white);
        }
        svg + svg {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  #footer {
    .reverse {
      .copyright {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) {
  #footer {
    flex-direction: row;
    height: 250px;
    .logos {
      position: absolute;
      left: 30px;
      top: 30px;
    }
    .reverse {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .redes-sociais {
        position: absolute;
        right: 30px;
        top: 30px;
      }
      .copyright {
        display: block;
        position: absolute;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: calc(50vh - 310px);
      }
    }
  }
}

@media (min-width: 1200px) {
  #footer {
    height: 110px;
    flex-direction: row;
    object-position: bottom;
    .logos {
      flex-direction: row;
    }
    .reverse {
      flex-direction: row;
      .copyright {
        position: absolute;
        right: calc(100vh - 280px);
        bottom: 15px;
      }
      .redes-sociais {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .line-1 {
          margin: 0;
          margin-right: 15px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  #footer {
    max-width: 1920px;
  }
}