#home {
  position: relative;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: var(--space);
  .banners {
    flex-direction: column;
    margin-bottom: var(--space);
    picture {
      margin: 0;
      padding: 0;
      width: 100vw;
      min-height: 250px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .seletors {
      flex-direction: row;
      position: absolute;
      justify-content: center;
      align-self: center;
      top: 220px;
      .seletor_border {
        border: var(--white) 3px solid;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .seletor_body {
          width: 10px;
          height: 10px;
          border: none;
          &.active {
            width: 10px;
            height: 10px;
            background-color: var(--white);
            border: none;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home {
    .banners {
      picture {
        width: 100%;
        height: 500px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #home {
    .banners {
      picture {
        height: 600px;
      }
    }
  }
}

@media (min-width: 1920px) {
  #home {
    max-width: 1920px;
    .banners {
      picture {
        height: 750px;
      }
    }
  }
}
