@mixin button {
  min-width: 100px;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--green);
  &:hover {
    background-color: var(--gray-7);
  }
  &:active {
    background-color: var(--gray-9);
  }
}

@mixin button-2 {
  min-width: 60px;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--green);
  &:hover {
    background-color: var(--gray-7);
  }
  &:active {
    background-color: var(--gray-9);
  }
}