@use "_vars";
@use "_mixins";
@use "_fonts";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body,
div,
article,
aside,
footer,
header,
main,
nav,
section,
ul,
ol,
li,
button,
figure,
picture,
hr,
form {
  display: flex;
}

body {
  min-width: vars.$mobile;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  > main {
    min-height: calc(100vh - 520px);
  }
}

a {
  text-decoration: none;
  color: vars.$white;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    color: vars.$white-hover;
  }
  &:active {
    color: vars.$white-active;
  }
}

#alert {
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 99;
  min-height: 50px;
  padding: 1rem;
  width: 80%;
  max-width: 350px;
  background-color: vars.$sucess;
  border-radius: 10px;
  transition: top 0.3s ease-in-out;
  &.hide {
    top: -100%;
    transition: top 0.3s ease-in-out;
  }
  &.danger {
    background-color: vars.$danger;
  }
}

.btn-green {
  @include mixins.button-green;
}

.btn-red {
  @include mixins.button-red;
}

.btn-blue {
  @include mixins.button-blue;
}

.btn-black {
  @include mixins.button-black;
}

.btn-white {
  @include mixins.button-white;
}

.field {
  @include mixins.input;
}

@media (min-width: vars.$tablet) {
  body {
    flex-direction: column;
  }
}

@media (min-width: vars.$desktop) {
  body {
    flex-direction: column;
    > main {
      min-height: calc(100vh - 220px);
    }
  }
}

@media (min-width: vars.$retina) {
  body {
    flex-direction: column;
    margin-left: calc(50vw - calc(vars.$retina / 2));
  }
}
