@use "_vars";
@use "_mixins";
@use "_fonts";

#contact {
  width: 100%;
  background-color: vars.$gray-2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .size_contact {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    #form_contact {
      flex-direction: column;
      align-items: center;
    }
  }
}
